{{> header}}

<div>
    <h2>Products:</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Code</th>
            <th>Stock</th>
            <th>Category</th>
            <th>Status</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>{{#if this.status}}
                Active
                {{else}}
                Disabled
                {{/if}}
            </td>
            <td>{{#if this.thumbanails.length}}
                <a href="{{this.thumbnails.[0]}}" target="_blank">{{this.thumbanails.[0]}}</a>
                {{else}}
                There is no image
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>